/* Paleta de Cores usada */

:root {
  --my-dark: #0b0f1a;
  --my-blue: #2563eb;
  --my-purple: #7c3aed;
  --light-color: #e5e7eb;
}

/* ---------------- Títulos, Subtítulos, Parágrafos e Textos ---------------- */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light-color)
}

.title {
    font-weight: 700;
    font-style: Regular;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
}

.subtitle {
    font-weight: 600;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.paragraph {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.paragraph2 {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}


/* ---------------- Cabeçalho ---------------- */


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 109px;
    padding: 28px 50px;
    box-shadow: 0px 4px 4px 0px var(--light-color);
    z-index: 998;
    background: linear-gradient(90deg, var(--my-purple) 60%, var(--my-blue)); 
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.menu a, .menu-burger ul a {
    text-decoration: none;
    font-weight: bold;
    color: var(--light-color);
    transition: all ease .2s;
}

.menu a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* ---------------- Menu Hamburguer (Embora só apareça em Telas Menores) ---------------- */ 

header .menu-burger {
    display: none;
}

.menu-burger .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;

    top: 65px;
    right: 10%;
}

.menu-burger .menu-lines{
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;

    top: 65px;
    right: 10%;  
}

.menu-burger .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: var(--light-color);
    border-radius: 3px;
    transition: all ease .2s;
}

.menu-burger .menu-faketrigger:checked ~ .menu-lines span {
    background-color: var(--light-color); 
}

.menu-burger .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);
}

.menu-burger .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
    opacity: 0;
}

.menu-burger .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);
}

.menu-burger ul {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 50px;
    
    top: 165px;
    right: 0;

    background-color: var(--my-blue);
    transition: all ease .2s;
}

.menu-burger .menu-faketrigger:checked ~ ul {
    display: flex;
}

/* ---------------- Seção de Apresentação do Candidato ---------------- */

/* Cor de fundo para a Seção principal */
main {
    
  background: linear-gradient(
    180deg,
    #0b0f1a 0%,
    #0e1324 50%,
    #0b0f1a 100%
  ); 
}

.presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    padding: 32px;
    gap: 125px;
}

.presentation figure {
    max-width: 247px;
    max-height: 247px;
    min-width: 247px;
    min-height: 247px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 4px 4px 4px 0px white;
}

.presentation img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.presentation-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    width: 40%; 
    height: 100%;
}

/* ---------------- Listas (Hobbies e Tops)  ---------------- */

.all-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 26px;
}

.list-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 26px;  
}

.hobbies {
    align-items: flex-end;
}

.tops {
    align-items: flex-start;
}

.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 104px;
    background-color: lightgreen;
    width: 104px;
    min-height: 150px; /* 116px; */
    max-height: 150px;
    overflow: hidden;
    /* padding: 17px; */
    border-radius: 5px;
    transition: all ease .2s;
}

.tooltip-text {
    font-weight: 400;
    position: absolute;
    bottom: 2%;
    transition: all ease .2s;
    color: var(--light-color);
    opacity: 0;
}

.item:hover {
    transform: scale(1.2);
}

.item:hover .tooltip-text {
    opacity: 1;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.top3 div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    color: black;
}

.first {
    background: radial-gradient(
    circle at top left,
    #fff4b0,
    #facc15,
    #ca8a04
    );

    border: 2px solid #eab308;
    box-shadow: 0 0 6px rgba(250, 204, 21, 0.5);
}

.second {
    background: radial-gradient(
    circle at top left,
    #f9fafb,
    #d1d5db,
    #9ca3af
  );

  border: 2px solid #e5e7eb;
  box-shadow: 0 0 6px rgba(229, 231, 235, 0.5);
}

.third {
    background: radial-gradient(
    circle at top left,
    #fcd7c2,
    #c2410c,
    #7c2d12
  );

  border: 2px solid #ea580c;
  box-shadow: 0 0 6px rgba(234, 88, 12, 0.5);
}

/* ---------------- Seção do Feedback ---------------- */

.feedback-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 0px;
}

.feedback-section div {
    width: 70%;
    align-items: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

form div {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

form button {
    width: 127px;
    height: 39px;

    background-color: var(--my-purple);
    color: var(--light-color);

    border: 2px solid var(--my-purple);
    border-radius: 20px;
    font-weight: bold;
    transition: all ease .2s;
}

form button:hover {
    border: none;
    background-color: var(--light-color);
    color: var(--my-purple);
    cursor: pointer;
}   

input, textarea {
    width: 50%; /*1128px*/
    height: 56px;

    font-size: 16px;
    background-color: var(--my-dark);
    color: var(--light-color);
    border: 3px solid var(--my-blue);
    border-radius: 10px;
}

textarea {
    resize: none;
}

input::placeholder, textarea::placeholder {
    color: lightgray;
}


/* ---------------- Rodapé ---------------- */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( 90deg, var(--my-blue), var(--my-dark));
    padding: 10px 5px;
    padding: 16px 32px;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer nav a {
    text-decoration: none;
}

footer nav a img {
    width: 32px;
    height: 32px;
    transition: all ease .2s;
}

footer nav a img:hover {
    transform: scale(1.2);
}

.btn-contact {
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    background-color:var(--my-purple);
    color: var(--light-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 38px;
    transition: all ease .2s;
    cursor: pointer;
}

.btn-contact:hover {
    width: 170px;
    height: 45px;
    background-color: var(--light-color);
    color: var(--my-purple);
}

/* ---------------- Responsividade ---------------- */

@media (max-width: 1266px) {
    .hobbies {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}



@media (max-width: 665px) {

    header .menu {
        display: none;
    }

    header .menu-burger {
        display: contents;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .presentation-text {
        display: flex;
        width: 95%;
        flex-direction: column;
        justify-content: center;
    }

    .all-lists {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .list-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form div {
        justify-content: center;
    }

    textarea {
        resize: none;
        height: 56px;
    }

    input {
        height: 56px;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
}